---
import Header from "../components/experience/Header.astro";
import Layout from "../layouts/Layout.astro";

interface Experience {
  initialDate: string;
  endDate: string;
  company: string;
  position: string;
  description: string;
  detailedDescription: string;
  url?: string; // Opcional
  code?: string; // Opcional
  slug: string;
  images: Array<{
    src: string;
    alt: string;
    device: "mobile" | "desktop";
    width: number;
    height: number;
  }>;
}

const experience: Experience[] = [
  {
    initialDate: "2024-07-08",
    endDate: "2024-12-13",
    company: "Facultad de Humanidades y Ciencias de la Educación",
    position: "FrontEnd Developer",
    description:
      "Desarrollo Frontend en Vuejs3, Web Services, implementación de contenedores Docker y Refactorización de nueva interfaz para el modulo de inicio Sistema Web EGOVF",
    detailedDescription:
      "En este rol, llevé a cabo el desarrollo completo del modulo de inicio utilizando Vue.js 3, integrando servicios web para mejorar la funcionalidad del sistema. Se puede destacar el uso de componentes asincronos para la pagina de registro en la cual se tiene 4 diferentes roles para darse de alta (Estudiante, Docente, Administrativo y Persona Externa) en la cual segun sea el formulario solicitado se ira cargando uno y otro asi tambien se implemento validaciones con uso de la libreria Vuelidate para el correcto uso de esto al envio al servidor, y por ultimo realicé una exhaustiva refactorización de la interfaz de usuario para optimizar la experiencia del usuario en el módulo de inicio del Sistema Web EGOVF.",
    url: "https://svfhce.umsa.bo/",
    code: "https://github.com/tic-fhce/egovf",
    slug: "egovf",
    images: [
      {
        src: "/experience/egovf/home-desktop.png",
        alt: "home-desktop",
        device: "desktop",
        height: 638,
        width: 1254,
      },
      {
        src: "/experience/egovf/login-desktop.png",
        alt: "home-desktop",
        device: "desktop",
        height: 830,
        width: 1254,
      },
      {
        src: "/experience/egovf/login-mobile.png",
        alt: "home-desktop",
        device: "mobile",
        width: 507,
        height: 894,
      },
      {
        src: "/experience/egovf/register-desktop.png",
        alt: "home-desktop",
        device: "desktop",
        height: 638,
        width: 1254,
      },
      {
        src: "/experience/egovf/register-mobile.png",
        alt: "home-desktop",
        device: "mobile",
        width: 507,
        height: 894,
      },
      {
        src: "/experience/egovf/slider-desktop.png",
        alt: "home-desktop",
        device: "desktop",
        height: 700,
        width: 1254,
      },
    ],
  },
  {
    initialDate: "2025-02-01",
    endDate: "2025-08-31",
    company: "AGETIC",
    position: "Asistente de DevOps y Automatización de Software",
    description:
      "Implementé pruebas de seguridad en sistemas institucionales con Caido y BurpSuite, alineando con estándares OWASP. Desarrollé la plataforma Formix para gestión de formularios con landings informativas y módulos de solicitudes. Integré dashboards estadísticos con Chart.js para visualizar métricas clave. Extendí funcionalidades en APIs NestJS, automatizando actualizaciones con Pulumi. Diseñé nuevos comandos en CLI Go para gestión de volúmenes NFS con Nomad. Implementé pruebas unitarias y refactoricé componentes para mejorar mantenibilidad y escalabilidad.",
    detailedDescription: "", // Puedes añadir una descripción detallada si la tienes
    url: "https://formix.bo/",
    code: "",
    slug: "agetic",
    images: [
      {
        src: "/experience/agetic/uno-desktop.png",
        alt: "uno-desktop",
        device: "desktop",
        height: 638,
        width: 1254,
      },
      {
        src: "/experience/agetic/uno-mobile.png",
        alt: "uno-mobile",
        device: "mobile",
        width: 507,
        height: 894,
      },
      {
        src: "/experience/agetic/dos-desktop.png",
        alt: "dos-desktop",
        device: "desktop",
        height: 638,
        width: 1254,
      },
      {
        src: "/experience/agetic/dos-mobile.png",
        alt: "dos-mobile",
        device: "mobile",
        width: 507,
        height: 894,
      },
      {
        src: "/experience/agetic/tres-desktop.png",
        alt: "tres-desktop",
        device: "desktop",
        height: 638,
        width: 1254,
      },
      {
        src: "/experience/agetic/tres-mobile.png",
        alt: "tres-mobile",
        device: "mobile",
        width: 507,
        height: 894,
      },
      {
        src: "/experience/agetic/cuatro-desktop.png",
        alt: "cuatro-desktop",
        device: "desktop",
        height: 638,
        width: 1254,
      },
      {
        src: "/experience/agetic/cuatro-mobile.png",
        alt: "cuatro-mobile",
        device: "mobile",
        width: 507,
        height: 894,
      },
      {
        src: "/experience/agetic/cinco-desktop.png",
        alt: "cinco-desktop",
        device: "desktop",
        height: 638,
        width: 1254,
      },
      {
        src: "/experience/agetic/cinco-mobile.png",
        alt: "cinco-mobile",
        device: "mobile",
        width: 507,
        height: 894,
      },
      {
        src: "/experience/agetic/seis-desktop.png",
        alt: "seis-desktop",
        device: "desktop",
        height: 638,
        width: 1254,
      },
      {
        src: "/experience/agetic/siete-desktop.png",
        alt: "siete-desktop",
        device: "desktop",
        height: 638,
        width: 1254,
      },
      {
        src: "/experience/agetic/ocho-desktop.png",
        alt: "ocho-desktop",
        device: "desktop",
        height: 638,
        width: 1254,
      },
    ],
  },
];

export const getStaticPaths = () => {
  const experience = [
    { params: { slug: "egovf" } },
    { params: { slug: "agetic" } },
  ];

  return experience;
};

const { slug } = Astro.params;
const project = experience.find((exp) => {
  return exp.slug === slug;
});

// console.log(project);
---

<Layout>
  <Header />
  <article class="flex flex-col gap-2">
    <h2
      transition:name={`title-experience-${project?.initialDate}`}
      class="font-semibold text-2xl text-yellowColor"
    >
      {project?.company}
      <br />
      <span class="font-normal text-whiteColor text-step0"
        >{project?.position}</span
      >
    </h2>
    <p
      transition:name={`description-experience-${project?.initialDate}`}
      class="text-pretty text-_step1 font-normal text-gray-400"
    >
      {project?.description}
    </p>
    <p class="text-pretty text-_step1 font-normal text-gray-400">
      {project?.detailedDescription}
    </p>

    <!-- <div class="cardImages"> -->
    <masonry-layout
      gap="16"
      class="gallery pswp-gallery pswp-gallery--single-column"
      id="gallery"
    >
      {
        project?.images.map((image) => {
          return (
             <a
                href={image.src},
                class={`w-full h-auto relative hover:scale-105 group transition-all duration-300 ease-in-out rounded-md group
                `}
                data-pswp-width={image.width}
                data-pswp-height={image.height}
                data-cropped="true" 
                target="_blank"
              >
              <img src={image.src} alt={image.alt} class={`w-full h-full block object-cover ${image.device === "mobile" ? "max-h-[500px]" : ""} object-top pointer-events-none`}/>
              <img src={image.src} alt={image.alt} class={`absolute inset-0 -z-10 w-full h-full block object-cover group-hover:scale-[1.02] blur-sm ${image.device === "mobile" ? "max-h-[500px]" : ""} transition-all duration-300 ease-in-out object-top pointer-events-none`}/>
            </a>
          );
        })
      }
    </masonry-layout>
    <!-- </div> -->
  </article>

  <!-- <dialog>
    <div class="image">
      <img src="#" alt="Imagen" class="w-full h-auto" />
    </div>
  </dialog> -->
</Layout>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";
  import "@appnest/masonry-layout";

  function initializeSwipeGallery() {
    const lightbox = new PhotoSwipeLightbox({
      gallery: "#gallery",
      children: "a",
      pswpModule: () => import("photoswipe"),
    });
    lightbox.init();
    document?.querySelector("masonry-layout")?.layout();
  }

  initializeSwipeGallery();

  document.addEventListener("astro:page-load", initializeSwipeGallery);
</script>

<style>
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  .cardImages {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 150px);
    grid-auto-rows: 150px;
    gap: 10px;
    /* grid-auto-flow: row dense; */
  }

  .item {
    overflow: hidden;
  }

  .item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    aspect-ratio: 16 / 9;
  }

  .item.mobile {
    grid-row: span 4;
    grid-column: span 2;
  }

  .item.desktop {
    grid-row: span 3;
    grid-column: span 4;
  }
  /* .item:nth-child(3n) {
    grid-column: span 1;
    grid-row: span 1;
  } */

  @media (max-width: 768px) {
    .cardImages {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 150px);
      grid-auto-rows: 150px;
      grid-auto-flow: row dense;
    }
    .item.mobile {
      grid-row: span 3;
      grid-column: span 2;
    }

    .item.desktop {
      grid-row: span 3;
      grid-column: span 4;
    }
  }

  @media (max-width: 480px) {
    .cardImages {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 150px);
      grid-auto-rows: 150px;
      grid-auto-flow: row dense;
    }
    .item.mobile {
      grid-row: span 3;
      grid-column: span 2;
    }

    .item.desktop {
      grid-row: span 2;
      grid-column: span 2;
    }
  }

  dialog::backdrop {
    backdrop-filter: blur(10px);
  }

  dialog {
    margin-inline: auto;
    max-width: 1000px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;

    transition:
      display 0.5s allow-discrete,
      overlay 0.5s allow-discrete;

    animation: close 0.5s forwards;
    &[open] {
      animation: open 0.5s forwards;
    }
  }

  @keyframes open {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes close {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.5);
    }
  }
</style>
